.navbar-inner{
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

.navbar-static-top {
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

.content{
    padding-left: 20px;
    padding-right: 20px;
}

.div-button{
    margin-top: 100px;
}